*
{
    box-sizing: border-box;
    margin: 0;
}

.container
{
    border-color: rgb(66, 66, 66);
    border-style: solid;
    border-width: clamp(0.1em, 1vw + 00.1em, 0.4em);
    border-radius: 0.3em;
    width: 50%;
    margin: 5em auto;
    background-color: black;
}

.screen
{
    margin: 0.2em;
    background-color: rgb(197, 197, 197);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem,1vw + 1.5rem, 3rem);
    padding: clamp(0.05em,0.1em,0.2em);
}

.operators
{
    margin: clamp(0.1em,1vw,0.4em);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
}

.button
{
    background-color: rgb(0, 159, 170);
    text-align: center;
    padding: clamp(0.5em,2vw,1em);
    color:beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.1rem,1vw + 0.2rem,1.3rem);
    cursor: pointer;
    user-select: none;
}

.button:active
{
    opacity: 0.5;
}

.zero
{
    grid-column-end: span 2;
}