*
{
    box-sizing: border-box;
    margin: none;
}
:root
{
    background-color:brown;
}
.container
{
    max-width: 1600px;
    width: 60%;
    background-color:antiquewhite;
    margin: auto;
    text-align: center;
    margin-top: clamp(5em,2vw,10em);
    padding-top: clamp(5em, 1vw, 10em);
    padding-right: clamp(3em, 1vw, 5em);
    padding-left: clamp(3em, 1vw, 5em);
    padding-bottom: clamp(1em, 1vw, 3em);

    border-radius: 0.5em;
}

h1
{
    color:chocolate;
    font-size: clamp(0.5rem, calc(5vw + 0.1rem),3rem);
}
p{
    font-size: 1rem;
    font-size: clamp(0.7rem, calc(2vw + 0.1rem),1rem);
}
.choices
{
    margin: 4em 0 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.button
{
    background-color:brown;
    font-size: clamp(0.5rem, calc(2vw + 0.1rem),1rem);
    padding: 1em 1.5em;
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
}

.button:hover
{
    position: relative;
    top: -0.3em;
}

.answer
{
    color: chocolate;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
    font-size: clamp(0.5rem, calc(3vw + 0.1rem),2rem);
}

.score
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: clamp(0.5rem, calc(3vw + 0.1rem),1rem);
}

.restart
{
    background-color: chocolate;
    width: fit-content;
    padding: 1em 3em;
    border-radius: 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin: 3em auto 0;
    display: none;
    cursor: pointer;
}

@media (max-width : 600px) {
    .score
    {
        flex-direction: column;
    }

    .score > div
    {
        margin-top: 1em;
    }
}